* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:cursive
 }
 @font-face {
    font-family:myfontt ;
    src: url(cursive.ttf);
 }
 @font-face {
    font-family:myFont ;
    src: url(cursive1.ttf);
 }
 body
 { 
    background-image:url("bgqt.jpeg");
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
 }
 .navbar
 { 
     position: fixed;
     width: 100%;
     height:100px;
     background-color: #ffcccc;
     border-top:5px solid beige;
     border-bottom:5px solid beige;
     display: flex;
 }
 .navbar-brand
 {
 
     font:bold 14px cursive;
     font-size:20px;
 }
 #navbarsExample03
 {
     font:bold 14px cursive;
     font-size:100%;
 
 }
 .container a:hover
 {
     background:beige;
     color: #4d3800;
     border:1px solid beige;
     transition: .3s;
 }
 #contact
 {
     border: 2px solid #ffcccc;
     color:#4d3800;
     background-color: beige;
     position: absolute;
     font-size:180%;
     width: 50%;
     text-align: center;
     margin: 0 auto;
     top:16%;
     left: 25%;
     padding: 10px;
 }
 p
{
    border: 2px solid #380000;
    color:#4d3800;
    background-color: #ffcccc;
   text-align: center;
   position: fixed;
   padding:4%;
   top: 37%;
   left:35%;
}

 div img
 {
     width: 60px;
     height: 60px;
     border: 3px solid rgb(255, 255, 255);
     border-radius: 13px;
     box-shadow: 4px 7px 7px 0px #000000;
     cursor: pointer;
     margin: 10px;
     transition: 400ms;
 }
div img:hover
 {
     filter: grayscale(1);
     transform: scale(1.03);
 }

.soc a
 {
  position: absolute;
  top: 35%;
  left: 36%;
  margin: 13rem auto 0 auto;
  
}
.soc1 a
 {

  position: absolute;
  top: 35%;
  left: 41%;
  margin: 13rem auto 0 auto;
 }
.soc2 a
 {
 
  position: absolute;
  top: 35%;
  left: 46%;
  margin: 13rem auto 0 auto;
 }


.soc3 a
{
position: absolute;
top: 35%;
left: 51%;
margin: 13rem auto 0 auto;
}
.soc4 a
{

position: absolute;
top: 35%;
left: 56%;
margin: 13rem auto 0 auto;
}